#### copied from Doug's work - to apply to my NYC data

In [1]:
import numpy as np
import pandas as pd
#if csvs are in same directory as notebook, set filepath = './'
filepath = input('Enter file path where csv files are located on your machine\n')

# my filepath is ~/Desktop/NYCDSA/Capstone/data/
multi = pd.read_csv(filepath + '/Zip_Zri_MultiFamilyResidenceRental.csv',dtype = {'RegionName':str})

Enter file path where csv files are located on your machine
~/Desktop/NYCDSA/Capstone/data

In [2]:

def zero_zips(df):
    '''Adds zeros to beginning of zip codes that were chopped off when of int dtype
    
    Args:
    
    df: name of the DataFrame'''
    return df['RegionName'].apply(lambda Z: '0'*(5-len(Z))+Z)

multi['RegionName'] = zero_zips(multi)
# homes['RegionName'] = zero_zips(homes)
# single['RegionName'] = zero_zips(single)

print(multi.shape)
# print(single.shape)
# print(homes.shape)

(1861, 120)

In [3]:
multi = pd.melt(multi, id_vars =multi.columns[:7],
                value_vars = multi.columns[7:],
               var_name = 'Date',value_name = 'Rent')
multi['Date'] = pd.to_datetime(multi['Date'])
multi.rename(columns = {'RegionName':'Zipcode'}, inplace = True)



multi.sample(10)

,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,Date,Rent
168332,73051,34232,Sarasota,FL,North Port-Sarasota-Bradenton,Sarasota County,843,2018-03-01,1435.0
1185,87129,66213,Overland Park,KS,Kansas City,Johnson County,1186,2010-09-01,NaN
60219,95997,90016,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,668,2013-05-01,1674.0
30302,69452,27612,Raleigh,NC,Raleigh,Wake County,527,2012-01-01,NaN
153164,81295,53215,Milwaukee,WI,Milwaukee-Waukesha-West Allis,Milwaukee County,563,2017-07-01,741.0
136392,96886,92507,Riverside,CA,Riverside-San Bernardino-Ontario,Riverside County,540,2016-10-01,1322.0
147775,72497,33196,The Hammocks,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,757,2017-04-01,1556.0
127436,97850,94804,Richmond,CA,San Francisco-Oakland-Hayward,Contra Costa County,889,2016-05-01,2283.0
142024,61801,10461,New York,NY,New York-Newark-Jersey City,Bronx County,589,2017-01-01,1702.0
21267,79779,49503,Grand Rapids,MI,Grand Rapids-Wyoming,Kent County,797,2011-08-01,NaN

### Select NYC data

In [4]:
nyc = multi.loc[(multi['City'] == 'New York') & (multi['State']=='NY')].set_index('Date')

nyc.head()

,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,Rent
Date,,,,,,,,
2010-09-01,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2930.0
2010-09-01,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2797.0
2010-09-01,61616,10002,New York,NY,New York-Newark-Jersey City,New York County,7,NaN
2010-09-01,62037,11226,New York,NY,New York-Newark-Jersey City,Kings County,11,1717.0
2010-09-01,61807,10467,New York,NY,New York-Newark-Jersey City,Bronx County,12,1347.0

In [12]:
nyc.CountyName.value_counts()

Queens County      5537
Kings County       4181
New York County    3842
Bronx County       2034
Richmond County    1356
Name: CountyName, dtype: int64

## Impute for each zip code

In [13]:
fill_rents = nyc[['Zipcode','Rent']].copy()
nyc.drop('Rent', axis = 1, inplace = True)
fill_rents = fill_rents.reset_index().pivot(index = 'Date',columns = 'Zipcode')['Rent'].reset_index()
# for code in fill_rents.columns[1:]:
#     fill_rents[code].interpolate(inplace = True)
    
fill_rents.fillna(method = 'bfill',inplace = True)

fill_rents.isnull().sum()

fill_rents

Zipcode,Date,10001,10002,10003,10005,10009,10010,10011,10012,10013,...,11428,11429,11432,11433,11434,11435,11436,11691,11692,11694
0,2010-09-01,2869.0,3083.0,2884.0,2831.0,3062.0,2875.0,2783.0,2742.0,3791.0,...,1685.0,1414.0,1425.0,1545.0,1530.0,1443.0,1442.0,1507.0,1536.0,1509.0
1,2010-10-01,2874.0,3083.0,2916.0,2900.0,3052.0,2926.0,2781.0,2794.0,4046.0,...,1685.0,1422.0,1443.0,1549.0,1530.0,1458.0,1452.0,1540.0,1536.0,1520.0
2,2010-11-01,2867.0,3083.0,2936.0,2966.0,3014.0,2943.0,2764.0,2830.0,4046.0,...,1685.0,1445.0,1464.0,1548.0,1533.0,1472.0,1463.0,1550.0,1537.0,1529.0
3,2010-12-01,2842.0,3083.0,2926.0,3015.0,2980.0,2928.0,2717.0,2824.0,4141.0,...,1685.0,1456.0,1480.0,1547.0,1539.0,1483.0,1471.0,1557.0,1540.0,1524.0
4,2011-01-01,2792.0,3083.0,2891.0,2982.0,2918.0,2887.0,2666.0,2768.0,4161.0,...,1685.0,1457.0,1481.0,1544.0,1543.0,1471.0,1489.0,1558.0,1532.0,1523.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,2019-09-01,3696.0,3481.0,3672.0,3738.0,3787.0,3758.0,3805.0,3526.0,4501.0,...,2040.0,2070.0,2005.0,2173.0,2175.0,2000.0,2086.0,2185.0,2145.0,2159.0
109,2019-10-01,3701.0,3437.0,3641.0,3729.0,3753.0,3782.0,3747.0,3492.0,4488.0,...,2038.0,2090.0,2017.0,2199.0,2203.0,1991.0,2084.0,2209.0,2183.0,2177.0
110,2019-11-01,3628.0,3485.0,3593.0,3674.0,3798.0,3810.0,NaN,3480.0,4599.0,...,2052.0,2113.0,2026.0,2209.0,2224.0,1975.0,2119.0,2250.0,2200.0,2176.0
111,2019-12-01,3717.0,3538.0,3686.0,3765.0,3851.0,3817.0,NaN,NaN,NaN,...,2053.0,2111.0,1990.0,2212.0,2216.0,1963.0,2115.0,2227.0,2203.0,2133.0
112,2020-01-01,NaN,3538.0,3611.0,3765.0,3844.0,3777.0,NaN,NaN,NaN,...,2069.0,2113.0,1974.0,2211.0,2196.0,1975.0,2057.0,2216.0,2203.0,2133.0

In [14]:
fill_rents = pd.melt(fill_rents, id_vars='Date', value_vars = fill_rents.columns[1:],var_name='Zipcode',value_name = 'Rent')

fill_rents.head()

        Date Zipcode    Rent
0 2010-09-01   10001  2869.0
1 2010-10-01   10001  2874.0
2 2010-11-01   10001  2867.0
3 2010-12-01   10001  2842.0
4 2011-01-01   10001  2792.0

In [15]:
nyc = pd.merge(nyc, fill_rents, on = ['Date','Zipcode'])

In [16]:
nyc.head()

,Date,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,Rent
0,2010-09-01,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2930.0
1,2010-09-01,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2797.0
2,2010-09-01,61616,10002,New York,NY,New York-Newark-Jersey City,New York County,7,3083.0
3,2010-09-01,62037,11226,New York,NY,New York-Newark-Jersey City,Kings County,11,1717.0
4,2010-09-01,61807,10467,New York,NY,New York-Newark-Jersey City,Bronx County,12,1347.0

## load census data

In [26]:
acs = pd.read_csv('~/Desktop/NYCDSA/Capstone/data/census_feats.csv', dtype = {'zip_code':str})
# total units for housing in zip code / total population
acs['per_person_housing'] = acs['housing_units'] / acs['total_pop'] 
# total commute time for people in zip / total population
acs['mean_commute_time'] = acs['aggregate_travel_time_to_work'] / acs['total_pop']
# number of people in the zip code with a bachelors or higher / total population
acs['bachelors_ormore'] = acs['bachelors_degree_or_higher_25_64'] / acs['total_pop']
acs = acs.drop('housing_units',axis=1).drop('aggregate_travel_time_to_work',axis=1).\
drop('bachelors_degree_or_higher_25_64',axis=1)

In [37]:
nyc_census = nyc.merge(acs,how='left',left_on='Zipcode',right_on='zip_code')

In [38]:
nyc_census.drop(['Metro','RegionID','City','State','geo_id','zip_code'],axis=1,inplace=True)
nyc_census.sample(10)

,Date,Zipcode,CountyName,SizeRank,Rent,total_pop,gini_index,median_income,per_person_housing,mean_commute_time,bachelors_ormore
14867,2018-12-01,10003,New York County,50,3661.0,54682.0,0.5571,112131.0,0.564647,13.620021,0.483706
3941,2012-11-01,10457,Bronx County,163,1416.0,74554.0,0.5047,27420.0,0.346957,15.344717,0.066462
1437,2011-06-01,11237,Kings County,868,1609.0,49310.0,0.4731,51413.0,0.364774,19.771040,0.195538
389,2010-11-01,11103,Queens County,909,1604.0,36140.0,0.4263,71437.0,0.498506,23.286801,0.390205
16687,2019-12-01,10468,Bronx County,140,NaN,78647.0,0.4779,36046.0,0.349854,19.327565,0.080092
12762,2017-10-01,10128,New York County,31,3093.0,59256.0,0.5586,114010.0,0.587114,18.897833,0.529955
13667,2018-04-01,10003,New York County,50,3608.0,54682.0,0.5571,112131.0,0.564647,13.620021,0.483706
16128,2019-08-01,11222,Kings County,597,2890.0,36492.0,0.4477,85111.0,0.511235,23.117533,0.468267
9905,2016-03-01,10016,New York County,15,3530.0,51057.0,0.5099,117004.0,0.678418,15.994085,0.565094
12972,2017-11-01,10010,New York County,522,3714.0,33730.0,0.5366,117923.0,0.549511,15.892381,0.514438

In [39]:
nyc_df = nyc_census.sort_values(by = 'Date').set_index('Date')
nyc_df = nyc_df['2013-01-01':'2018-07-01']

In [51]:
nyc_df[nyc_df.isnull().sum(axis = 1)>0]

,Zipcode,CountyName,SizeRank,Rent,total_pop,gini_index,median_income,per_person_housing,mean_commute_time,bachelors_ormore
Date,,,,,,,,,,
2013-01-01,11249,Kings County,804,2904.0,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-01,11109,New York County,1828,2646.0,5981.0,0.3626,148590.0,0.679819,NaN,0.679987
2013-01-01,10069,New York County,1840,3659.0,5085.0,0.5982,110625.0,0.669027,NaN,0.586234
2013-02-01,11249,Kings County,804,2921.0,NaN,NaN,NaN,NaN,NaN,NaN
2013-02-01,11109,New York County,1828,2646.0,5981.0,0.3626,148590.0,0.679819,NaN,0.679987
...,...,...,...,...,...,...,...,...,...,...
2018-06-01,11109,New York County,1828,3073.0,5981.0,0.3626,148590.0,0.679819,NaN,0.679987
2018-06-01,10069,New York County,1840,3649.0,5085.0,0.5982,110625.0,0.669027,NaN,0.586234
2018-07-01,11249,Kings County,804,2876.0,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-01,11109,New York County,1828,3073.0,5981.0,0.3626,148590.0,0.679819,NaN,0.679987
2018-07-01,10069,New York County,1840,3681.0,5085.0,0.5982,110625.0,0.669027,NaN,0.586234

In [49]:
nyc_df[nyc_df.isnull().sum(axis = 1)>0].Zipcode.value_counts()

11249    67
11109    67
10069    67
Name: Zipcode, dtype: int64

In [43]:
#nyc_df.sample(10)
#nyc_df.isnull().sum(axis = 0)
nyc_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10050 entries, 2013-01-01 to 2018-07-01
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Zipcode             10050 non-null  object
 1   CountyName          10050 non-null  object
 2   SizeRank            10050 non-null  int64
 3   Rent                10050 non-null  float64
 4   total_pop           9983 non-null   float64
 5   gini_index          9983 non-null   float64
 6   median_income       9983 non-null   float64
 7   per_person_housing  9983 non-null   float64
 8   mean_commute_time   9849 non-null   float64
 9   bachelors_ormore    9983 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 863.7+ KB

# Importing data from BLS and BEA

In [236]:
austin = pd.merge(austin,cc_volume, how = 'left', on = 'Date')

In [237]:
austin = pd.merge(austin, atx, how = 'left', on = 'Date')

In [238]:
austin.sample(15)

,Date,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,Rent,Low_income_volume,Moderate_income_volume,Year,Month,LaborForce,NumEmp,Income_per_capita,Population
895,2013-06-01,92651,78741,Austin,TX,Austin-Round Rock,Travis County,304,1000.0,5.846078e+08,3.014526e+09,2013.0,6.0,1023916.0,103100.0,47233.0,1883315.0
2464,2018-04-01,92653,78744,Austin,TX,Austin-Round Rock,Travis County,752,1296.0,8.753101e+08,4.440339e+09,2018.0,4.0,1195861.0,130500.0,59638.0,2165497.0
2936,2019-09-01,92666,78757,Austin,TX,Austin-Round Rock,Travis County,1380,1320.0,NaN,NaN,2019.0,9.0,1244523.0,135100.0,NaN,NaN
1264,2014-07-01,92663,78754,Austin,TX,Austin-Round Rock,Travis County,1542,928.0,7.296026e+08,4.050310e+09,2014.0,7.0,1052711.0,108600.0,50029.0,1942467.0
2375,2017-12-01,92641,78730,Austin,TX,Austin-Round Rock,Travis County,1831,1243.0,9.037584e+08,4.434000e+09,2017.0,12.0,1171877.0,126900.0,56087.0,2115475.0
1521,2015-05-01,92658,78749,Austin,TX,Austin-Round Rock,Travis County,919,1143.0,8.033060e+08,3.994612e+09,2015.0,5.0,1073073.0,117000.0,51484.0,2002134.0
1176,2014-04-01,92639,78728,Austin,TX,Austin-Round Rock,Travis County,1246,983.0,7.321531e+08,3.753325e+09,2014.0,4.0,1044885.0,106400.0,50029.0,1942467.0
743,2012-12-01,92618,78705,Austin,TX,Austin-Round Rock,Travis County,1223,1266.0,5.099254e+08,2.893411e+09,2012.0,12.0,1002030.0,97200.0,NaN,NaN
2760,2019-03-01,92668,78759,Austin,TX,Austin-Round Rock,Travis County,358,1553.0,NaN,NaN,2019.0,3.0,1228466.0,134000.0,NaN,NaN
1875,2016-06-01,92638,78727,Austin,TX,Austin-Round Rock,Travis County,1090,1350.0,9.758423e+08,4.751104e+09,2016.0,6.0,1118942.0,124400.0,52403.0,2062016.0
1220,2014-06-01,92662,78753,Austin,TX,Austin-Round Rock,Travis County,324,930.0,7.071524e+08,3.621827e+09,2014.0,6.0,1050565.0,109600.0,50029.0,1942467.0
1821,2016-04-01,92638,78727,Austin,TX,Austin-Round Rock,Travis County,1090,1350.0,9.457059e+08,4.656035e+09,2016.0,4.0,1110737.0,122300.0,52403.0,2062016.0
860,2013-04-01,92660,78751,Austin,TX,Austin-Round Rock,Travis County,1558,1069.0,5.357119e+08,2.953706e+09,2013.0,4.0,1015041.0,100100.0,47233.0,1883315.0
2378,2018-01-01,92657,78748,Austin,TX,Austin-Round Rock,Travis County,282,1261.0,9.654039e+08,4.440845e+09,2018.0,1.0,1178562.0,124100.0,59638.0,2165497.0
2582,2018-08-01,92616,78703,Austin,TX,Austin-Round Rock,Travis County,1288,1819.0,NaN,NaN,2018.0,8.0,1192611.0,131800.0,59638.0,2165497.0

In [274]:
austin_df = austin.drop(['RegionID','City','State','Metro','CountyName','Year','Month','NumEmp'],axis = 1).\
sort_values(by = 'Date').set_index('Date')

In [275]:
austin_df.head(15)

,Zipcode,SizeRank,Rent,Low_income_volume,Moderate_income_volume,LaborForce,Income_per_capita,Population
Date,,,,,,,,
2010-09-01,78704,65,1349.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78730,1831,1243.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78701,1749,1524.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78752,1593,960.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78751,1558,1060.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78754,1542,879.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78735,1518,1375.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78757,1380,1101.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78750,1325,1012.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78703,1288,1377.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78746,1282,1452.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78728,1246,975.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78705,1223,1129.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78702,1357,1392.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN
2010-09-01,78727,1090,1350.0,3.727692e+08,2.150781e+09,NaN,NaN,NaN

In [276]:
austin_df = austin_df['2013-01-01':'2018-07-01']

In [277]:
austin_df

,Zipcode,SizeRank,Rent,Low_income_volume,Moderate_income_volume,LaborForce,Income_per_capita,Population
Date,,,,,,,,
2013-01-01,78702,1357,1392.0,5.560889e+08,2.954124e+09,1005093.0,47233.0,1883315.0
2013-01-01,78746,1282,1354.0,5.560889e+08,2.954124e+09,1005093.0,47233.0,1883315.0
2013-01-01,78703,1288,1481.0,5.560889e+08,2.954124e+09,1005093.0,47233.0,1883315.0
2013-01-01,78750,1325,1028.0,5.560889e+08,2.954124e+09,1005093.0,47233.0,1883315.0
2013-01-01,78757,1380,1101.0,5.560889e+08,2.954124e+09,1005093.0,47233.0,1883315.0
...,...,...,...,...,...,...,...,...
2018-07-01,78744,752,1283.0,8.639582e+08,4.220966e+09,1203826.0,59638.0,2165497.0
2018-07-01,78723,888,1386.0,8.639582e+08,4.220966e+09,1203826.0,59638.0,2165497.0
2018-07-01,78749,919,1221.0,8.639582e+08,4.220966e+09,1203826.0,59638.0,2165497.0
2018-07-01,78729,990,1221.0,8.639582e+08,4.220966e+09,1203826.0,59638.0,2165497.0
2018-07-01,78753,324,1185.0,8.639582e+08,4.220966e+09,1203826.0,59638.0,2165497.0

In [278]:
len(austin_df['Zipcode'].value_counts())

27

In [279]:
austin_df.isnull().sum(axis = 0)

Zipcode                   0
SizeRank                  0
Rent                      0
Low_income_volume         0
Moderate_income_volume    0
LaborForce                0
Income_per_capita         0
Population                0
dtype: int64

In [168]:
austin_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1809 entries, 2013-01-01 to 2018-07-01
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Zipcode                 1809 non-null   object
 1   SizeRank                1809 non-null   int64
 2   Rent                    1809 non-null   float64
 3   Low_income_volume       1809 non-null   float64
 4   Moderate_income_volume  1809 non-null   float64
 5   LaborForce              1809 non-null   float64
 6   NumEmp                  1809 non-null   float64
 7   Income_per_capita       1809 non-null   float64
 8   Population              1809 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 141.3+ KB

# Predict using random forest

In [280]:
aus_forest = austin_df.copy()
aus_forest['Zipcode'] = aus_forest['Zipcode'].astype(int)

from sklearn.ensemble import RandomForestRegressor

rfc = RandomForestRegressor()

In [281]:
from sklearn.model_selection import train_test_split
import numpy as np
y = np.log(aus_forest['Rent'])
X = aus_forest.drop('Rent', axis = 1)

Xtrain,Xtest,ytrain,ytest = train_test_split(X,y)

In [282]:
rfc.fit(Xtrain,ytrain)
rfc.score(Xtest,ytest)

0.9921029635269544

In [283]:
rfc.score(Xtrain,ytrain)

0.998777219884928

In [284]:
from sklearn.model_selection import cross_validate, KFold

cv = KFold(n_splits = 5, shuffle = True)

In [285]:
cv_res = cross_validate(RandomForestRegressor(),X,y, cv = cv)

In [286]:
cv_res2 = cross_validate(RandomForestRegressor(),Xtrain,ytrain,cv = cv)

In [287]:
for col, imp in zip(X.columns,rfc.feature_importances_):
    print(f'{col}: {imp}')

Zipcode: 0.6412048204519878
SizeRank: 0.17230421958148964
Low_income_volume: 0.025638453938848824
Moderate_income_volume: 0.026442764318582244
LaborForce: 0.12356267246022395
Income_per_capita: 0.004635747330603296
Population: 0.006211321918264237

In [255]:
len(aus_forest['Zipcode'].value_counts())

27

In [256]:
zipcodes.sample()

       geo_id  total_pop
20759    4444       8946

# Try random forest using population from BigQuery

In [257]:
zipcodes = pd.read_csv('~/Downloads/zipcode_2.csv')

In [258]:
zipcodes = zipcodes[['geo_id','total_pop']]

aus_zip = zipcodes.loc[zipcodes['geo_id'].isin(aus_forest['Zipcode'])]

In [259]:
aus_zip

       geo_id  total_pop
3005    78751      15805
4320    78727      29509
5735    78701       9427
9390    78705      33948
9416    78752      21324
9617    78729      29315
10243   78744      48969
11172   78757      24823
15172   78731      27175
15181   78730       9186
16430   78728      21480
17020   78759      42524
22876   78749      37774
23043   78748      50997
23140   78723      34569
23274   78741      52716
23441   78750      30847
23545   78704      48486
23861   78717      30218
24223   78754      24408
24467   78703      20890
24748   78702      23389
25856   78746      28495
26044   78758      47470
26201   78735      17923
26308   78753      59085
27134   78745      62771

In [270]:
aus_forest2 = pd.merge(aus_forest,aus_zip, left_on = 'Zipcode', right_on = 'geo_id')

In [261]:
aus_forest2.drop(['Population','geo_id'], axis = 1, inplace = True)

In [271]:
np.sum(aus_zip['total_pop'])

883523

In [273]:
aus_forest2['Population'].value_counts()

2002134.0    324
1883315.0    324
2062016.0    324
2115475.0    324
1942467.0    324
2165497.0    189
Name: Population, dtype: int64

In [262]:
y = np.log(aus_forest2['Rent'])
X = aus_forest2.drop('Rent', axis = 1)

Xtrain,Xtest,ytrain,ytest = train_test_split(X,y)

In [263]:
rfc = RandomForestRegressor()
rfc.fit(Xtrain,ytrain)
rfc.score(Xtest,ytest)

0.9922435214917491

In [264]:
rfc.score(Xtrain,ytrain)

0.9989321758284088

In [265]:
from sklearn.model_selection import cross_validate, KFold

cv = KFold(n_splits = 5, shuffle = True)

In [266]:
cv_res = cross_validate(RandomForestRegressor(),X,y, cv = cv)

In [267]:
cv_res2 = cross_validate(RandomForestRegressor(),Xtrain,ytrain,cv = cv)

In [268]:
for col, imp in zip(X.columns,rfc.feature_importances_):
    print(f'{col}: {imp}')

Zipcode: 0.5831951395527925
SizeRank: 0.10910395531283357
Low_income_volume: 0.014231952871825115
Moderate_income_volume: 0.024333255086773045
LaborForce: 0.10044627293835216
NumEmp: 0.044125247755545625
Income_per_capita: 0.004924093038672145
total_pop: 0.11964008344320598