In [80]:
import pandas as pd
import numpy as np
from itertools import repeat
from statistics import median
from scipy.stats import kurtosis
from scipy.stats import skew

In [17]:
df_initial = pd.read_csv('census_data.csv')

In [18]:
df = df_initial.copy()

In [19]:
keep_cols = ['geo_id','total_pop']
income_cols = []
for i in df.columns:
    if 'income' in i:
        keep_cols.append(i)
        if '00' in i:
            income_cols.append(i)

In [20]:
df = df[keep_cols]

In [79]:
all_incomes = []
all_geos = []
by_state_dict = {}

progress = 1
for temp_id in df['geo_id'].unique():
    state_vals = []
    temp = df.copy()
    temp = temp[temp['geo_id']==temp_id]
    for income_col in income_cols:
        val = income_col.split('_')[-1]
        if val == 'more':
            val = 250000
        val = int(val)
        
        count = temp[income_col].min()
        all_incomes.extend(repeat(val, count))
        state_vals.extend(repeat(val, count))
        all_geos.extend(repeat(temp_id,count))
    by_state_dict[temp_id] = state_vals
#         income_lev_df = pd.DataFrame({'geo':[temp_id],
#                                       'income':[val]
#                                      })
        
#         income_lev_df = income_lev_df.append([income_lev_df]*(count-1),ignore_index=True)
#         final_df = final_df.append([income_lev_df])
    #print(progress)
    #progress = progress + 1

In [22]:
# all_df = pd.DataFrame({'geo':all_geos,
#                        'income':all_incomes,
#                       })

In [68]:
med_val = median(all_incomes)
med_val

59999

In [69]:
num_vals = len(all_incomes)
num_vals

120935203

In [70]:
median_loc = (num_vals + 1)/2
median_loc

60467602.0

In [71]:
num_below_med = len([i for i in all_incomes if i < med_val])
num_below_med

51464703

In [78]:
(median_loc - num_below_med)

9002899.0

In [72]:
num_at_med = len([i for i in all_incomes if i == med_val])
num_at_med

9201772

In [77]:
num_into_med = (median_loc - num_below_med) / num_at_med
num_into_med

0.9783875323144281

In [76]:
55000 + ((59999-55000)*num_into_med)

59890.95927403982

In [87]:
pd.Series(all_incomes).value_counts()

99999     14983827
74999     11828929
124999    10623297
59999      9201772
250000     8366093
10000      7917450
199999     7523407
149999     6943175
24999      5755344
14999      5650451
29999      5637788
34999      5626573
19999      5610954
44999      5323160
39999      5248618
49999      4694365
dtype: int64

In [85]:
set(all_incomes)

{10000,
 14999,
 19999,
 24999,
 29999,
 34999,
 39999,
 44999,
 49999,
 59999,
 74999,
 99999,
 124999,
 149999,
 199999,
 250000}

In [81]:
skew(all_incomes)

1.0459226727308006

In [30]:
l1 = [1,2,3,4,5]

In [33]:
l2 = [i for i in l1 if i <3]

In [34]:
l2

[1, 2]

In [36]:
testing = pd.DataFrame({'numbers':[12345,23456,1234,45678]})

In [42]:
testing = pd.DataFrame({'numbers':[12345,23456,1234,45678]})
testing['numbers'] = testing['numbers'].astype(str)
testing['numbers'] = np.where(len(testing['numbers'])==4,'0'+testing['numbers'],testing['numbers'])

In [43]:
testing

  numbers
0  012345
1  023456
2   01234
3  045678