In [49]:
import pandas as pd
import numpy as np

In [50]:
df_initial = pd.read_csv('Zip_Zri_MultiFamilyResidenceRental.csv')
census_df_initial = pd.read_csv('zipcode_census_data_2018_5yr.csv')

In [51]:
include_cities = ['Miami Beach','Miami','North Miami']

df = df_initial.copy()
df = df[df['City'].isin(include_cities)]

census_df = census_df_initial.copy()
census_df = census_df.rename(columns={'geo_id':'RegionID'})

In [52]:
# for i in df['City'].unique():
#     if 'miami' in i.lower():
#         print(i)

In [53]:
# monthly_increase = np.mean(df.iloc[:,2:87].diff(axis=1))
# monthly_increase = round(monthly_increase, 2)

In [54]:
df_melt = df.melt(id_vars = ['RegionID','SizeRank','State','Metro','CountyName', 'City','RegionName'], var_name = "date",value_name="rent")
df_melt['year'] = df_melt['date'].apply(lambda x: x.split('-')[0])
df_melt['month'] = df_melt['date'].apply(lambda x: x.split('-')[1])
for col in ['month','year']:
    df_melt[col] = df_melt[col].astype(int)

In [55]:
dates = df_melt['date'].unique().tolist()
dates.sort()

In [56]:
len(dates)

113

In [57]:
difference_dict = {}

for i in range(1,len(dates)):
    cur_month = dates[i]
    last_month = dates[i - 1]
    
    test = (df[cur_month]-df[last_month]).mean()
    difference_dict[cur_month] = test

In [58]:
def get_prior_month(date_val):
    month = date_val.split('-')[1]
    year = int(date_val.split('-')[0])
    month_map = {'01':'12',
                 '02':'01',
                 '03':'02',
                 '04':'03',
                 '05':'04',
                 '06':'05',
                 '07':'06',
                 '08':'07',
                 '09':'08',
                 '10':'09',
                 '11':'10',
                 '12':'11'
                }
    
    if month == '01':
        return '%s-%s' % (str(year-1),month_map[month])
    else:
        return '%s-%s' % (str(year),month_map[month])

In [59]:
df_melt['difference'] = df_melt['date'].apply(lambda x: difference_dict[x] if x in difference_dict else 0)
df_melt['prior_month'] = df_melt['date'].apply(lambda x: get_prior_month(x))

In [60]:
for col in ['RegionID']:
    census_df[col] = census_df[col].astype(str)
    df_melt[col] = df_melt[col].astype(str)

In [61]:
census_df = census_df[census_df['RegionID'].isin(df_melt['RegionID'].unique().tolist())]

In [62]:
df_melt = pd.merge(df_melt,census_df,on=['RegionID'],how='inner')

In [63]:
df_melt[['rent']].isnull().sum(axis=0)

rent    43
dtype: int64

In [64]:
df_melt = df_melt[df_melt['rent'].isnull()==False]
df_melt = df_melt[df_melt.year == 2018]

In [96]:
for i in df_melt.columns:
    print(i)

RegionID
SizeRank
State
Metro
CountyName
City
RegionName
date
rent
year
month
difference
prior_month
do_date
total_pop
households
male_pop
female_pop
median_age
male_under_5
male_5_to_9
male_10_to_14
male_15_to_17
male_18_to_19
male_20
male_21
male_22_to_24
male_25_to_29
male_30_to_34
male_35_to_39
male_40_to_44
male_45_to_49
male_50_to_54
male_55_to_59
male_65_to_66
male_67_to_69
male_70_to_74
male_75_to_79
male_80_to_84
male_85_and_over
female_under_5
female_5_to_9
female_10_to_14
female_15_to_17
female_18_to_19
female_20
female_21
female_22_to_24
female_25_to_29
female_30_to_34
female_35_to_39
female_40_to_44
female_45_to_49
female_50_to_54
female_55_to_59
female_60_to_61
female_62_to_64
female_65_to_66
female_67_to_69
female_70_to_74
female_75_to_79
female_80_to_84
female_85_and_over
white_pop
population_1_year_and_over
population_3_years_over
pop_5_years_over
pop_15_and_over
pop_16_over
pop_25_years_over
pop_25_64
pop_never_married
pop_now_married
pop_separated
pop_widowed
pop_divorced
not_us_citizen_pop
black_pop
asian_pop
hispanic_pop
amerindian_pop
other_race_pop
two_or_more_races_pop
hispanic_any_race
not_hispanic_pop
asian_male_45_54
asian_male_55_64
black_male_45_54
black_male_55_64
hispanic_male_45_54
hispanic_male_55_64
white_male_45_54
white_male_55_64
median_income
income_per_capita
income_less_10000
income_10000_14999
income_15000_19999
income_20000_24999
income_25000_29999
income_30000_34999
income_35000_39999
income_40000_44999
income_45000_49999
income_50000_59999
income_60000_74999
income_75000_99999
income_100000_124999
income_125000_149999
income_150000_199999
income_200000_or_more
pop_determined_poverty_status
poverty
gini_index
housing_units
renter_occupied_housing_units_paying_cash_median_gross_rent
owner_occupied_housing_units_lower_value_quartile
owner_occupied_housing_units_median_value
owner_occupied_housing_units_upper_value_quartile
occupied_housing_units
housing_units_renter_occupied
vacant_housing_units
vacant_housing_units_for_rent
vacant_housing_units_for_sale
dwellings_1_units_detached
dwellings_1_units_attached
dwellings_2_units
dwellings_3_to_4_units
dwellings_5_to_9_units
dwellings_10_to_19_units
dwellings_20_to_49_units
dwellings_50_or_more_units
mobile_homes
housing_built_2005_or_later
housing_built_2000_to_2004
housing_built_1939_or_earlier
median_year_structure_built
married_households
nonfamily_households
family_households
households_public_asst_or_food_stamps
male_male_households
female_female_households
children
children_in_single_female_hh
median_rent
percent_income_spent_on_rent
rent_burden_not_computed
rent_over_50_percent
rent_40_to_50_percent
rent_35_to_40_percent
rent_30_to_35_percent
rent_25_to_30_percent
rent_20_to_25_percent
rent_15_to_20_percent
rent_10_to_15_percent
rent_under_10_percent
owner_occupied_housing_units
million_dollar_housing_units
mortgaged_housing_units
different_house_year_ago_different_city
different_house_year_ago_same_city
families_with_young_children
two_parent_families_with_young_children
two_parents_in_labor_force_families_with_young_children
two_parents_father_in_labor_force_families_with_young_children
two_parents_mother_in_labor_force_families_with_young_children
two_parents_not_in_labor_force_families_with_young_children
one_parent_families_with_young_children
father_one_parent_families_with_young_children
father_in_labor_force_one_parent_families_with_young_children
commute_less_10_mins
commute_10_14_mins
commute_15_19_mins
commute_20_24_mins
commute_25_29_mins
commute_30_34_mins
commute_35_44_mins
commute_60_more_mins
commute_45_59_mins
commuters_16_over
walked_to_work
worked_at_home
no_car
no_cars
one_car
two_cars
three_cars
four_more_cars
aggregate_travel_time_to_work
commuters_by_public_transportation
commuters_by_bus
commuters_by_car_truck_van
commuters_by_carpool
commuters_by_subway_or_elevated
commuters_drove_alone
group_quarters
associates_degree
bachelors_degree
high_school_diploma
less_one_year_college
masters_degree
one_year_more_college
less_than_high_school_graduate
high_school_including_ged
bachelors_degree_2
bachelors_degree_or_higher_25_64
graduate_professional_degree
some_college_and_associates_degree
male_45_64_associates_degree
male_45_64_bachelors_degree
male_45_64_graduate_degree
male_45_64_less_than_9_grade
male_45_64_grade_9_12
male_45_64_high_school
male_45_64_some_college
male_45_to_64
employed_pop
unemployed_pop
pop_in_labor_force
not_in_labor_force
workers_16_and_over
armed_forces
civilian_labor_force
employed_agriculture_forestry_fishing_hunting_mining
employed_arts_entertainment_recreation_accommodation_food
employed_construction
employed_education_health_social
employed_finance_insurance_real_estate
employed_information
employed_manufacturing
employed_other_services_not_public_admin
employed_public_administration
employed_retail_trade
employed_science_management_admin_waste
employed_transportation_warehousing_utilities
employed_wholesale_trade
occupation_management_arts
occupation_natural_resources_construction_maintenance
occupation_production_transportation_material
occupation_sales_office
occupation_services
management_business_sci_arts_employed
sales_office_employed
in_grades_1_to_4
in_grades_5_to_8
in_grades_9_to_12
in_school
in_undergrad_college
speak_only_english_at_home
speak_spanish_at_home
speak_spanish_at_home_low_english
bachelors_ormore
mean_commute_time

In [66]:
df_melt.head()

,RegionID,SizeRank,State,Metro,CountyName,City,RegionName,date,rent,year,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
88,72444,376,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,Miami Beach,33141,2018-01,1824.0,2018,...,172.0,107.0,182.0,98.0,57.0,491.0,99.0,NaN,NaN,NaN
89,72444,376,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,Miami Beach,33141,2018-02,1799.0,2018,...,172.0,107.0,182.0,98.0,57.0,491.0,99.0,NaN,NaN,NaN
90,72444,376,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,Miami Beach,33141,2018-03,1801.0,2018,...,172.0,107.0,182.0,98.0,57.0,491.0,99.0,NaN,NaN,NaN
91,72444,376,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,Miami Beach,33141,2018-04,1799.0,2018,...,172.0,107.0,182.0,98.0,57.0,491.0,99.0,NaN,NaN,NaN
92,72444,376,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,Miami Beach,33141,2018-05,1792.0,2018,...,172.0,107.0,182.0,98.0,57.0,491.0,99.0,NaN,NaN,NaN

In [116]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
ols = LinearRegression()

from sklearn.ensemble import RandomForestRegressor

rfc = RandomForestRegressor()

In [117]:
df_melt['bachelors_ormore'] = df_melt['bachelors_degree_or_higher_25_64'] / df_melt['total_pop']
df_melt['mean_commute_time'] = df_melt['aggregate_travel_time_to_work'] / df_melt['total_pop']

In [118]:
df_melt['rent'] = df_melt['rent'].astype(float)
target =  df_melt['rent']
feats = df_melt[['total_pop','median_income','median_age','in_undergrad_college']]
for col in feats.columns:
    feats[col] = feats[col].fillna(feats[col].mean())
    feats[col] = feats[col].astype(float)

<ipython-input-118-f2dd12bea04e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feats[col] = feats[col].fillna(feats[col].mean())
<ipython-input-118-f2dd12bea04e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feats[col] = feats[col].astype(float)

In [119]:
Xtrain, Xtest, ytrain, ytest = train_test_split(feats,target)

In [120]:
Xtrain['median_income'].unique()

array([37283., 42183., 35684., 76875.])

In [121]:
ols.fit(Xtrain,ytrain)
print(f"Training R2: {ols.score(Xtrain,ytrain)}")
print(f"Test R2: {ols.score(Xtest,ytest)}")

Training R2: 0.9941676718621162
Test R2: 0.9910999063745894

In [103]:
rfc.fit(Xtrain,ytrain)
rfc.score(Xtest,ytest)

0.9947335292005061

In [114]:
df_melt['in_undergrad_college'].unique()

array([ 99.,   0.,  75., 146.])

In [109]:
len(df_melt)

48