In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
%run extract_data.py
# zillow_data
# airqual_data
# persinc_data
# inclvl_data
# census_data

In [23]:
zillow_data.head()

,RegionID,Zipcode,City,State,Metro,County,SizeRank,Date,Rent,Year
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,2010-09-01,2930.0,2010
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,2010-09-01,1447.0,2010
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,2010-09-01,2797.0,2010
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,2010-09-01,1081.0,2010
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,2010-09-01,1437.0,2010

In [8]:
# SF Metro
counties = ['Alameda County', 'Contra Costa County', 'Marin County', 'Napa County', 'San Mateo County', 
            'Santa Clara County', 'Solano County', 'Sonoma County', 'San Francisco County']
# # NY Metro:
# counties = ['New York County', 'Bronx County', 'Queens County', 'Kings County', 'Richmond County']
# # Greater Austin Metro:
# counties = ['Bastrop County', 'Caldwell County', 'Hays County', 'Travis County', 'Williamson County']
# # Miami Metro:
# counties = ['Miami-Dade County', 'Broward County', 'Palm Beach County']

In [28]:
zillow_data_sf = zillow_data[zillow_data['County'].isin(counties)].sort_values(['Zipcode', 'Date'])
zillow_data_sf

,RegionID,Zipcode,City,State,Metro,County,SizeRank,Date,Rent,Year
710,97501,94010,Burlingame,CA,San Francisco-Oakland-Hayward,San Mateo County,711,2010-09-01,1892.000000,2010
2571,97501,94010,Burlingame,CA,San Francisco-Oakland-Hayward,San Mateo County,711,2010-10-01,1892.000000,2010
4432,97501,94010,Burlingame,CA,San Francisco-Oakland-Hayward,San Mateo County,711,2010-11-01,1892.000000,2010
6293,97501,94010,Burlingame,CA,San Francisco-Oakland-Hayward,San Mateo County,711,2010-12-01,1892.000000,2010
8154,97501,94010,Burlingame,CA,San Francisco-Oakland-Hayward,San Mateo County,711,2011-01-01,1892.000000,2011
...,...,...,...,...,...,...,...,...,...,...
201874,98171,95404,Santa Rosa,CA,Santa Rosa,Sonoma County,887,2019-09-01,2293.090909,2019
203735,98171,95404,Santa Rosa,CA,Santa Rosa,Sonoma County,887,2019-10-01,2310.545455,2019
205596,98171,95404,Santa Rosa,CA,Santa Rosa,Sonoma County,887,2019-11-01,2328.000000,2019
207457,98171,95404,Santa Rosa,CA,Santa Rosa,Sonoma County,887,2019-12-01,2354.000000,2019
209318,98171,95404,Santa Rosa,CA,Santa Rosa,Sonoma County,887,2020-01-01,2377.000000,2020

In [27]:
zillow_data_sf['Rent'].isnull().sum()

0

In [30]:
zillow_full = pd.read_csv('../../data/rent_data.csv')

In [31]:
zillow_full_sf = zillow_full[zillow_full['County'].isin(counties)]
zillow_full_sf.iloc[:, :22]

,RegionID,Zipcode,City,State,Metro,County,SizeRank,Date,Rent,Year,...,Vol,VolUnadjusted,income_level_group,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age
3576,97564,94109,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,14,2015-01-01,3243.0,2015,...,3.825176e+09,3.534736e+09,Moderate,94109.0,2014-01-01,56677.0,33108.0,29771.0,26906.0,36.9
3577,97564,94109,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,14,2015-01-01,3243.0,2015,...,7.265682e+08,6.535896e+08,Low,94109.0,2014-01-01,56677.0,33108.0,29771.0,26906.0,36.9
3578,97565,94110,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,84,2015-01-01,3899.0,2015,...,3.825176e+09,3.534736e+09,Moderate,94110.0,2014-01-01,74161.0,27736.0,40201.0,33960.0,37.1
3579,97565,94110,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,84,2015-01-01,3899.0,2015,...,7.265682e+08,6.535896e+08,Low,94110.0,2014-01-01,74161.0,27736.0,40201.0,33960.0,37.1
3580,97569,94115,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,474,2015-01-01,3335.0,2015,...,3.825176e+09,3.534736e+09,Moderate,94115.0,2014-01-01,35004.0,17208.0,17741.0,17263.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19339,97569,94115,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,474,2019-12-01,3729.0,2019,...,NaN,NaN,NaN,94115.0,2014-01-01,35004.0,17208.0,17741.0,17263.0,36.0
19340,97558,94103,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,690,2019-12-01,3642.0,2019,...,NaN,NaN,NaN,94103.0,2014-01-01,28735.0,14841.0,16788.0,11947.0,38.5
19341,97562,94107,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,704,2019-12-01,4035.0,2019,...,NaN,NaN,NaN,94107.0,2014-01-01,29689.0,13961.0,15618.0,14071.0,36.2
19342,97560,94105,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,1641,2019-12-01,4044.0,2019,...,NaN,NaN,NaN,94105.0,2014-01-01,9155.0,4908.0,4933.0,4222.0,35.2
19343,97610,94158,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,1810,2019-12-01,3950.0,2019,...,NaN,NaN,NaN,94158.0,2014-01-01,7291.0,3812.0,3491.0,3800.0,34.0

In [36]:
len(zillow_full.columns)

255

In [43]:
zillow_full.iloc[:, :40].isna().sum()

RegionID                 0
Zipcode                  0
City                     0
State                    0
Metro                    0
County                   0
SizeRank                 0
Date                     0
Rent                     0
Year                     0
PersonalIncome           0
AQIMean               8446
Vol                   3264
VolUnadjusted         3264
income_level_group    3264
geo_id                 103
do_date                103
total_pop              103
households             103
male_pop               103
female_pop             103
median_age             103
male_under_5           103
male_5_to_9            103
male_10_to_14          103
male_15_to_17          103
male_18_to_19          103
male_20                103
male_21                103
male_22_to_24          103
male_25_to_29          103
male_30_to_34          103
male_35_to_39          103
male_40_to_44          103
male_45_to_49          103
male_50_to_54          103
male_55_to_59          103
male_65_to_66          103
male_67_to_69          103
male_70_to_74          103
dtype: int64

In [42]:
zillow_full.iloc[:, 41:80].isna().sum()

male_80_to_84                   103
male_85_and_over                103
female_under_5                  103
female_5_to_9                   103
female_10_to_14                 103
female_15_to_17                 103
female_18_to_19                 103
female_20                       103
female_21                       103
female_22_to_24                 103
female_25_to_29                 103
female_30_to_34                 103
female_35_to_39                 103
female_40_to_44                 103
female_45_to_49                 103
female_50_to_54                 103
female_55_to_59                 103
female_60_to_61                 103
female_62_to_64                 103
female_65_to_66                 103
female_67_to_69                 103
female_70_to_74                 103
female_75_to_79                 103
female_80_to_84                 103
female_85_and_over              103
white_pop                       103
population_1_year_and_over      103
population_3_years_over         103
pop_5_years_over              19776
pop_15_and_over               19776
pop_16_over                     103
pop_25_years_over               103
pop_25_64                       103
pop_never_married             19776
pop_now_married               19776
pop_separated                 19776
pop_widowed                   19776
pop_divorced                  19776
not_us_citizen_pop              103
dtype: int64

In [ ]:
# # reshape for better merging
# inclvl_moderate = inclvl_data[inclvl_data.income_level_group == 'Moderate'][['Date','Vol']]
# inclvl_moderate = inclvl_moderate.rename(columns={'Vol':'Vol_moderate_income'})
# inclvl_low = inclvl_data[inclvl_data.income_level_group == 'Low'][['Date','Vol']]
# inclvl_low = inclvl_low.rename(columns={'Vol':'Vol_low_income'})
# inclvl_data = pd.merge(inclvl_moderate,inclvl_low,on='Date')
# inclvl_data.head()

In [19]:
zillow_full_sf.head()

,RegionID,Zipcode,City,State,Metro,County,SizeRank,Date,Rent,Year,...,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
3576,97564,94109,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,14,2015-01-01,3243.0,2015,...,23296.0,7461.0,503.0,371.0,681.0,6832.0,3149.0,NaN,NaN,NaN
3577,97564,94109,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,14,2015-01-01,3243.0,2015,...,23296.0,7461.0,503.0,371.0,681.0,6832.0,3149.0,NaN,NaN,NaN
3578,97565,94110,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,84,2015-01-01,3899.0,2015,...,27280.0,7056.0,2013.0,1748.0,1919.0,12295.0,3252.0,NaN,NaN,NaN
3579,97565,94110,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,84,2015-01-01,3899.0,2015,...,27280.0,7056.0,2013.0,1748.0,1919.0,12295.0,3252.0,NaN,NaN,NaN
3580,97569,94115,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,474,2015-01-01,3335.0,2015,...,14082.0,3995.0,1079.0,832.0,686.0,4886.0,750.0,NaN,NaN,NaN